<header>
    <div class="header_nav">
    <div>
        <h1> {{ shop.name }} </h1>
    </div>
    <div>
        <ul class="header_ul">  
            <!-- Main menu -->
            {% for link in linklists.main-menu.links%}
             <li>{{ link.title | link_to: link.url }} </li> 
            {%endfor %}
        </ul>
    </div>

    <div>
        {% if settings.search_bar %}
        <form action="/search">
            <input type="search" name="q">
            <button type="submit">Search</button>
        </form>
        {% endif %}
    </div>

    </div>

</header>