
<div class="error_page">
<div class="container">
    <h1>404 - Not Found</h1>
    <p>The page you are looking for might be in another castle.</p>
    <img class="image" src="https://media.istockphoto.com/id/658389266/vector/the-concept-of-error-404-page-not-found-drawing-a-new-page.jpg?s=612x612&w=0&k=20&c=rMXtayvIOB8UjwZONtCOBvMhfz7iNEYB4TtKqd7bOfw=" alt="Sad Kitten">
</div>

</div>
{%  style  %} 
.error_page {
    font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
}
.container {
            max-width: 400px;
        }

        h1 {
            color: red;
        }

        p {
            color: #555;
        }

        .image {
            margin-top: 30px;
            max-width: 100%;
        }
{% endstyle %}